<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
  <div class="list-group">
    <a class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0"><b>Agentur Informations for {{agentur.name}}</b></h6>          
          <p class="mb-0 opacity-75"><b>Strasse:</b> {{agentur.strasse}}</p>
          <p class="mb-0 opacity-75"><b>Telefon:</b> {{agentur.tel}}</p>
          <p class="mb-0 opacity-75"><b>PLZ:</b> {{agentur.plz}}</p>
          <p class="mb-0 opacity-75"><b>Ort:</b> {{agentur.ort}}</p>
          <p class="mb-0 opacity-75"><b>Fax:</b> {{agentur.fax}}</p>
          <p class="mb-0 opacity-75"><b>Land:</b> {{agentur.land}}</p>
          <p class="mb-0 opacity-75"><b>Ansprechperson:</b> {{agentur.ansprechPerson}}</p>
          <p class="mb-0 opacity-75"><b>Email:</b> {{agentur.email}}</p>
          <p class="mb-0 opacity-75"><b>Kredit Limit:</b> {{agentur.kreditLimit}}</p>
          <p class="mb-0 opacity-75"><b>Offen:</b> {{agentur.offen}}</p>
          <p class="mb-0 opacity-75"><b>VerFügbar:</b> {{agentur.verfuegbar}}</p>
          <p class="mb-0 opacity-75"><b>Guthaben:</b> {{agentur.guthaben}}</p>
        </div>
        <small class="opacity-50 text-nowrap">now</small>
      </div>
    </a>   
  </div>
</div>
